@if(Model == null) {
    <p>The angent was unspecified.</p>
}
else {
    <EditForm Model="@Model" OnValidSubmit="OnSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="form-group">
            <label for="agentName" class="col-sm-2 col-form-label">Name</label>
            <InputText id="agentName" @bind-Value="Model.Name" />
        </div>
        <div class="form-group">
            <label for="agentKey" class="col-sm-2 col-form-label">Key</label>
            <input type="text" id="agentKey" value="@Model.Key" />
        </div>
                
        <button class="btn btn-primary" type="submit">@ButtonLabel</button>
    </EditForm>
}

@code {

    [Parameter]
    public AgentEditModel? Model { get; set; }

    [Parameter]
    public EventCallback OnSubmit { get; set; }

    [Parameter]
    public string ButtonLabel { get; set; } = "Edit";

}
