.idea/
.vscode/
.vs/
target/
cache/
workspace/
workspaces/
*.user
launchSettings.json
.*.swp

*.pfx
agent.toml
src/**/conf
conf/projects/
conf/agents/

bin/
obj/
node_modules/
output/
!docker/helium-*/*/helium/bin/

*.gen
*.capnp.cs

.env
