@page "/agents/add"

@inject IAgentManager AgentManager
@inject NavigationManager NavigationManager

<h1>Add Agent</h1>

<AgentEditor Model="@model" ButtonLabel="Add" OnSubmit="OnSubmit" />

@code {

    private AgentEditModel model = new AgentEditModel {
        ConnectionType = "ssl",
    };


    private async Task OnSubmit() {
        var conn = model.ConnectionType switch {
            "ssl" => new SslAgentConnection(model.SslHost!, model.SslPort, Convert.FromBase64String(model.AgentSslKey!)),
            _ => null
        };

        if(conn != null) {
            var agentConfig = new AgentConfig(model.Name!, model.Workers, conn);
            await AgentManager.AddAgent(agentConfig);
            NavigationManager.NavigateTo("agents");
        }
    }
    
}
