@page "/projects/{id:guid}"

@inject IProjectManager ProjectManager

@if(project == null) {
    <p>The requested project could not be found.</p>
}
else {
    var config = project.Config;
    var editUrl = $"projects/{Id}/edit";
    var buildUrl = $"projects/{Id}/build";
    
    <h1>Project @(config.Name)</h1>
                              
    <a href="@editUrl" class="btn btn-primary" role="button">Edit</a>
    <a href="@buildUrl" class="btn btn-primary" role="button">Build</a>
}

@code {

    [Parameter]
    public Guid Id { get; set; }

    private IProject? project = null;

    protected override void OnInitialized() {
        project = ProjectManager.GetProject(Id);
    }

}
