@page "/projects"

@inject IProjectManager ProjectManager

<h1>Projects</h1>

<a href="projects/add" class="btn btn-primary" role="button">Add</a>

@if(ProjectManager.Projects.Count == 0) {
    <p>No projects have been configured.</p>
}
else {
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var project in ProjectManager.Projects.OrderBy(p => p.Config.Name)) {
            <tr>
                <td><a href="projects/@(project.Id)">@(project.Config.Name)</a></td>
            </tr>
        }
        </tbody>
    </table>
}
